* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header section Styles */
.header {
    width: 1600px;
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    padding: 216px 300px 166px 876px;
    text-align: right;
}

.banner-title {
    color: white;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: white;
    margin-top: 24px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 26px;
    border: 0;
    border-radius: 5px;
}

/* Start Work section Styles */
.work-section {
    margin: 131px 210px;
    display: flex;
    gap: 87px;
    align-items: center;
}

.work-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.work-description {
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.work-list {
    color: #444343;
}

.work-list li {
    list-style-image: url('../images/favicon.ico');
}

/* Start Plan Section styles */

.plan-section {
    margin: 130px 230px;
    width: 1140px;

}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.plan-box {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 25px;
}

.plan-box-item {
    text-align: center;
}

.item-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.item-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}

/* Start Watch section Styles */
.watch-section {
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    border-radius: 8px;
}

.watch-box {
    padding: 59px 617px 59px 64px;
}

.watch-title {
    margin-bottom: 24px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

/* Start IT section styles */
.it-section {
    width: 1140px;
    margin: 130px 230px;

}

.it-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.it-box {
    display: flex;
    gap: 20px;
}

.it-box-item {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.it-box-item-subtitle {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.it-box-item-description {
    color: #444343;
    text-align: center;
}

/* Start Footer section */
.footer {
    
    margin-left: 230px;
    background: #151414;
    display: flex;
    justify-content: space-between;
    gap: 331px;
    padding: 121px 219px 138px 230px ;
    
}
 .future-title{ 
    color: #F8F8F8;
    font-weight: 700;
font-size: 45px;
 }
 .future-description{
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
font-size: 16px;

 }
 .social{
    display: flex;
    gap: 10px;
 }

 .subscribe-title{
    color: #FFFFFF;
    font-weight: 600;
font-size: 25px;
} 
.sub-input{
    color: #F3F3F3;
    font-size: 18px;
    padding: 21px 158px 22px 21px;
    border: 1px solid white;
    border-radius: 10px;
    background: #151414;
    margin-top: 31px;
    margin-bottom: 16px;
}
.btn-sub{
    font-weight: 600;
font-size: 20px;
color: #FFFFFF;
padding: 20px 36px;
background: #005FAC;
border-radius: 10px;
border: 0px;
}
    