* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Header section Styles */
.header {
    width: 1600px;
    height: 808px;
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    padding: 216px 300px 166px 876px;
    text-align: right;
}

.banner-title {
    color: white;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    color: white;
    margin-top: 24px;
    margin-bottom: 30px;
}

.btn-primary {
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 26px;
    border: 0;
    border-radius: 5px;
}

/* Start Work section Styles */
.work-section {
    margin: 131px 210px;
    display: flex;
    gap: 87px;
    align-items: center;
}

.work-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
}

.work-description {
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.work-list {
    color: #444343;
}

.work-list li {
    list-style-image: url('../images/favicon.ico');
}

/* Start Plan Section styles */

.plan-section {
    margin: 130px 230px;

}

.plan-title {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.plan-box {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 25px;
}

.plan-box-item {
    text-align: center;
}

.item-title {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    margin-top: 24px;
}

.item-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}
/* Start Watch section Styles */
.watch-section{
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url('../images/watch.png');
    border-radius: 8px;
}
.watch-box{
    padding: 59px 617px 59px 64px;
}
.watch-title{
    margin-bottom: 24px;
    color:white;
    font-size: 40px;
    font-weight: 700;
}